<!-- <div class="background">
    <img class="background-image" src="assets/bg.jpg" alt="Background Image">
    <div class="form-container">
      <h2>Reset Your Password</h2>
      <input type="text" placeholder="Username" class="input-field" [(ngModel)]="username">
      <input type="password" placeholder="New Password" class="input-field" [(ngModel)]="newPassword">
      <button class="reset-btn" (click)="resetPassword()">Reset Password</button>
    </div>
  </div> -->
  <div class="content" style="padding-top: 85px;">
  <div class="background">
    <img class="background-image" src="assets/bg.jpg" alt="Background Image">
    <div class="form-container">
      <h2>Reset Your Password</h2>
      <input type="text" placeholder="Username" class="input-field" [(ngModel)]="username">
      <input type="password" placeholder="New Password" class="input-field" [(ngModel)]="newPassword">
      <button class="reset-btn" (click)="resetPassword()">Reset Password</button>
    </div>
  </div>
  </div>