/* src/styles.css */

body {
  background: teal; /* Dark gradient background */
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to right, #d43faa, #a6c1ee); /* Light gradient background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.form-group {
  margin-bottom: 20px;
}

.rounded-input {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}

.rounded-input:focus {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 8px 24px rgba(0, 0, 0, 0.25);
}

.btn-teal {
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px; /* Added margin-bottom to separate the buttons */
}

.btn-teal:hover {
  background-color: #1c86ee;
  transform: translateY(-2px);
}

.btn-teal:hover::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-image: linear-gradient(to right, #e22c3b, #ffc371);
  border-radius: 5px;
  z-index: -1;
}

.header {
  text-align: center;
  padding: 2px 0;
  margin-top: -30px;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.message-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.message {
  color: white;
  text-align: center;
}

.image {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}
