<!-- 
      <div class="background">
        <img class="background-image" src="assets/bg.jpg" alt="Background Image">
        <div class="form-container">
          <h2>Create Your Account</h2>
          <button class="google-btn">
            <i class="bi bi-google"></i> Sign Up with Google
          </button>
          <input type="text" placeholder="Username" class="input-field" [(ngModel)]="username">
          <input type="password" placeholder="Password" class="input-field" [(ngModel)]="password">
          <button class="signup-btn" (click)="createAccount()">Sign Up</button>
        </div>
      </div> -->

      <div class="content" style="padding-top: 150px;">
      <div class="background">
        <img class="background-image" src="assets/bg.jpg" alt="Background Image">
        <div class="form-container">
          <h2>Create Your Account</h2>
          <button class="google-btn">
            <i class="bi bi-google"></i> Sign Up with Google
          </button>
          <input type="text" placeholder="Username" class="input-field" [(ngModel)]="username">
          <input type="password" placeholder="Password" class="input-field" [(ngModel)]="password">
          <button class="signup-btn" (click)="createAccount()">Sign Up</button>
        </div>
      </div>
          </div>


